body{
    background-color: rgb(59, 76, 205);
    color: #ffffff;
}

article{
color: rgb(0, 26, 255);
}

nav>ul>li{
    color: #ffff00;
}

#titulo_del-blog{
    text-align: center;
    font-size: 3rem;
}

div{  background-color: rgb(7, 4, 1);}